@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: "Poppins", sans-serif;

}


.sessao__tres {

    max-width: 1920px;
    height: 700px;
    background-color: #342F54;
    display: flex;
    align-items: center;
    justify-content: center;
   


}


.conteudo__chamativo__tres{

    max-width: 1250px;
    height: 472px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

}



.img__tres {

    width: 161px;
    height: 268px;
    border-radius: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    margin-top: 120px;
    margin-left: 100px;



}

.img__quatro {


    width: 275px;
    height: 458px;
    border-radius: 150px;
    object-fit: cover;
    object-position: 70% 30%;
    margin-left: 20px;
    margin-bottom: 65px;
}

.sobre__preços {

    width: 100px;
    height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    margin-left: 1px;
    border-bottom: 3px solid rgb(255, 255, 255);
    
}


.texto__principal3{

    width: 632px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
}


.caixa__principal {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.itens{

    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adiciona espaço entre os itens */
}

.serviço {
    white-space: nowrap; 
    margin-right: 30px; 
    color: #ffffff;
}

.linha {
    flex-grow: 1;
    height: 1px;
    background-color: #ffffff;
    margin-right: 30px; 
   
}

.preço {
    white-space: nowrap; 
    color: #ffffff;
}
